---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="404">
	<section>
		<h1>404</h1><br />
		<p class="size-20">ページが存在しません。</p><br />
		<a class="button color-secondary" href="/">ホーム画面へ戻る</a>
	</section>
</DefaultLayout>
