---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Center from '../components/Center.astro';
import { Content as Intro } from './markdowns/1_intro.mdx';
import { Content as About } from './markdowns/2_about-astro.mdx';
import { Content as CreateProject } from './markdowns/3_create-project.mdx';
import { Content as ImplementedVue } from './markdowns/4_implemented-vue.mdx';
import { Content as ImplementedStore } from './markdowns/5_implemented-store.mdx';
import { Content as ImpelementedAuth } from './markdowns/6_implemented-auth.mdx';
import DFlex from '../components/DFlex.astro';
import StatusChip from '../components/StatusChip.vue';
import { Status } from '../enum';
import CounterVue from '../components/CounterVue.vue';
import CounterReact from '../components/CounterReact.jsx';
---

<DefaultLayout title="Readme">
	<Center>
		<Intro />
	</Center>
	<Center>
		<About />
	</Center>
	<Center>
		<CreateProject />
	</Center>
	<Center>
		<ImplementedVue />
	</Center>
	<Center>
		<div class="w-md">
			<DFlex>
				<StatusChip client:visible>未申請</StatusChip>
				<StatusChip statusCode={Status.applicated} client:visible>
					申請中
				</StatusChip>
				<StatusChip statusCode={Status.approved} client:visible>
					承認済み
				</StatusChip>
				<StatusChip statusCode={Status.repudiated} client:visible>
					否認済み
				</StatusChip>
				<StatusChip statusCode={Status.systemError} client:visible>
					システムエラー
				</StatusChip>
			</DFlex>
		</div>
	</Center>
	<Center>
		<ImplementedStore />
	</Center>
	<Center>
		<div class="w-md">
			<DFlex>
				<CounterVue client:load />
				<CounterReact client:load />
			</DFlex>
		</div>
	</Center>
	<Center>
		<ImpelementedAuth />
	</Center>
</DefaultLayout>
